<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ohand.threeDPrinterStatus" version="0.0.3" android-versionCode="0205" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3D Printer Status</name>
    <description>A lightweight basic app for the status of your 3D printer. e.g. Bresser Rex or Flashforge Adventurer</description>
    <author email="15704728+ohAnd@users.noreply.github.com" href="https://github.com/ohAnd/3DPrinterStatus">
        ohand
    </author>
    <icon src="www/img/logo2.jpg" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <hook type="after_prepare" src="hooks/version_replace.js" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="KeepRunning" value="true"/>
        <hook type="after_build" src="hooks/copyAndReleaseBuild.js" />
        <!-- <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application"> 
            <application android:usesCleartextTraffic="true" />
        </edit-config> -->
        <resource-file src="res/icon/android/values/ic_launcher_background.xml" target="/app/src/main/res/values/ic_launcher_background.xml" />
        <icon background="@color/ic_launcher_background" density="mdpi" foreground="res/icon/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="@color/ic_launcher_background" density="hdpi" foreground="res/icon/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="@color/ic_launcher_background" density="xhdpi" foreground="res/icon/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="@color/ic_launcher_background" density="xxhdpi" foreground="res/icon/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="@color/ic_launcher_background" density="xxxhdpi" foreground="res/icon/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="UIApplicationExitsOnSuspend" target="*-Info.plist">
            <true />
        </config-file>
    </platform>
</widget>
